.edit-form__fieldset_bl_input {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media (max-width: 549px) {

  .edit-form__fieldset_bl_input {
    padding-top: 75px;
  }

}